<div class="container"
  fxLayout="column"
  fxLayoutGap="10px">

  <div fxFlex>
    <div>
        <h3>About Us</h3>
        <hr>
    </div>
  </div>

  <div fxFlex>
    <div fxLayout="column" fxLayout.gt-sm="row">
		<div fxFlex="70">
	        <h2>Company Overview</h2>
	        <p>From Vancouver to Auckland, RestoTable is used by millions every day to decide where to eat in over 10,000 cities across 24 countries. In a few years, we should be able help point you to a great place to eat no matter what part of the world you're in.</p>
        </div>
        <div fxFlex="30">
        <mat-card>
          <mat-card-header>
            <mat-card-title>
            <h2>Facts At a Glance</h2>
            </mat-card-title>
          </mat-card-header>
          <mat-card-content>
            <dl>
              <dt>Started</dt>
              <dd>August 1999</dd>
              <dt>Major Stake Holder</dt>
              <dd>ABC</dd>
              <dt>Last Year's Turnover</dt>
              <dd>$1,250,375</dd>
              <dt>Employees</dt>
              <dd>20,000</dd>
            </dl>
          </mat-card-content>
        </mat-card>
      </div>
      </div>
   </div>
</div>